In [1]:
import sqlite3
import pandas as pd
import settings

In [2]:
# trades check
exchanges = settings.exchanges
conn = sqlite3.connect('test.db')

for k, v in exchanges.items():
    exchange_name = k
    exchange = v
    table_name = exchange_name + "_trades"
    # print(df)
    print(pd.read_sql_query("SELECT * from {}".format(table_name),conn))

DatabaseError: Execution failed on sql 'SELECT * from bitbay_trades': no such table: bitbay_trades

In [3]:
# bal & orderbook check 
for k, v in exchanges.items():
    exchange_name = k
    exchange = v
    table_name = exchange_name + "_bal_orderbook"
    # print(df)
    print(pd.read_sql_query("SELECT * from {}".format(table_name),conn).tail())

   index               time           utc exchange     pair  USD/PLN  \
0      0  20-04-25 16:05:02  1.587827e+09   bitbay  ETH/PLN  4.19125
1      0  20-04-25 16:06:01  1.587827e+09   bitbay  ETH/PLN  4.19125
2      0  20-04-25 16:07:02  1.587827e+09   bitbay  ETH/PLN  4.19125
3      0  20-04-25 16:08:02  1.587827e+09   bitbay  ETH/PLN  4.19125

   bal_fiat_free  bal_fiat_used  bal_fiat_total  bal_eth_free  ...   1_bid_sz  \
0       48657.66       32730.01        81387.67    197.851496  ...   5.687756
1       32380.19       49007.48        81387.67    158.092496  ...   5.306172
2       32380.14       49007.53        81387.67    197.851496  ...  25.456558
3       32380.14       49007.53        81387.67    197.851496  ...  12.872191

    2_bid_sz   3_bid_sz  4_bid_sz  5_bid_sz  1_ask_sz  2_ask_sz  3_ask_sz  \
0  20.320000  24.648451  0.050000  0.246877  5.682580  0.444786  6.150609
1  24.629632  20.320000  7.340000  0.050000  0.444786  6.150609  5.449497
2  24.612658  12.901815  2.463054  7.990000  0.434970  5.941220  6.150609
3   3.685504  20.320000  2.463054  0.050000  0.434970  5.289723  6.150609

   4_ask_sz   5_ask_sz
0  0.032079  58.238755
1  0.032079   0.419342
2  0.032079   0.419342
3  0.032079   0.419342

[4 rows x 32 columns]
   index               time           utc exchange     pair  USD/IDR  \
0      0  20-04-25 16:05:02  1.587827e+09  indodax  ETH/IDR  15587.9
1      0  20-04-25 16:06:01  1.587827e+09  indodax  ETH/IDR  15587.9
2      0  20-04-25 16:07:02  1.587827e+09  indodax  ETH/IDR  15587.9
3      0  20-04-25 16:08:02  1.587827e+09  indodax  ETH/IDR  15587.9

   bal_fiat_free  bal_fiat_used  bal_fiat_total  bal_eth_free  ...  1_bid_sz  \
0    275348757.0            0.0     275348757.0     91.318431  ...  6.946008
1    242306924.0     33041833.0     275348757.0     80.360231  ...  6.446008
2    242306975.0     33041782.0     275348757.0     91.318431  ...  0.161807
3    242306958.0     33041799.0     275348757.0     91.318431  ...  0.296442

    2_bid_sz  3_bid_sz  4_bid_sz   5_bid_sz   1_ask_sz   2_ask_sz   3_ask_sz  \
0   0.018862  0.936034  0.018951   5.315599  14.137275   2.976196  41.231000
1   0.018862  0.936034  0.018951  18.161823   2.137275   2.976196  41.231000
2  17.750787  0.018862  0.936034   0.018951   2.976196  43.231000   0.060008
3  18.254158  0.018862  0.936034   0.018951   2.474177  12.000000   2.000000

    4_ask_sz   5_ask_sz
0   0.060008   0.060008
1  10.958200   0.060008
2  12.000000   0.060008
3   0.060008  41.231000

[4 rows x 32 columns]