In [1]:
import sqlite3
import pandas as pd

In [19]:
conn = sqlite3.connect('test.db')
ex = 'indodax'
table_name = ex + "_bal_orderbook"
pd.read_sql_query("SELECT * from {}".format(table_name),conn).tail()

,index,time,utc,exchange,pair,USD/IDR,bal_fiat_free,bal_fiat_used,bal_fiat_total,bal_eth_free,...,1_bid_sz,2_bid_sz,3_bid_sz,4_bid_sz,5_bid_sz,1_ask_sz,2_ask_sz,3_ask_sz,4_ask_sz,5_ask_sz
2,0,20-04-25 10:53:00,1.587808e+09,indodax,ETH/IDR,15587.9,232882350.0,31756372.0,264638722.0,83.460338,...,8.105431,10.745249,0.006727,0.013459,14.069237,0.976777,0.368293,4.306594,0.158934,0.057755
3,0,20-04-25 10:54:01,1.587808e+09,indodax,ETH/IDR,15587.9,232882350.0,31756372.0,264638722.0,83.460338,...,8.105431,10.745249,0.006727,0.013459,14.069237,2.298804,0.368293,4.306594,0.158934,0.057755
4,0,20-04-25 10:55:03,1.587809e+09,indodax,ETH/IDR,15587.9,264638722.0,0.0,264638722.0,94.841238,...,1.611674,0.024441,13.954781,0.067250,26.592344,4.306594,0.158934,0.057755,1.245319,14.355000
5,0,20-04-25 10:56:03,1.587809e+09,indodax,ETH/IDR,15587.9,232882170.0,31756552.0,264638722.0,83.460338,...,12.278974,0.024441,14.892480,0.067250,4.012806,4.306594,0.158934,0.057755,1.245319,0.007400
6,0,20-04-25 10:57:03,1.587809e+09,indodax,ETH/IDR,15587.9,232882124.0,31756598.0,264638722.0,94.841238,...,1.611674,10.670900,8.112154,0.080699,46.590422,1.475687,0.158934,0.057755,1.245319,0.007400

In [21]:
conn = sqlite3.connect('test.db')
ex = 'indodax'
table_name = ex + "_trade"
pd.read_sql_query("SELECT * from {}".format(table_name),conn).head()

,index,trade_id,order_id,type,eth,price,fee,utc,time
0,0,2703774,24631265,sell,0.51075521,2970000,0,1587806169,2020-04-25 10:16:09
1,1,2703744,24630771,sell,0.10077594,2968000,0,1587804322,2020-04-25 09:45:22
2,2,2703743,24630735,sell,0.02444291,2969000,0,1587804286,2020-04-25 09:44:46
3,3,2703717,24630445,sell,0.01679050,2969000,0,1587803288,2020-04-25 09:28:08
4,4,2703700,24630285,sell,0.00368920,2973000,0,1587802955,2020-04-25 09:22:35